<div class="modal-overlay" (click)="close.emit()">
  <div class="modal-card" (click)="$event.stopPropagation()">
    
    <header class="modal-header">
      <h2>{{ mode() === "create" ? "Adicionar" : "Editar" }} {{ type() }}</h2>
      <button class="btn-close" (click)="close.emit()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </header>

    @if (missingDependenciesMessage()) {
      <div class="missing-dependencies-container">
        <i class="fa-solid fa-triangle-exclamation warning-icon"></i>
        <h3>Ação Necessária</h3>
        <p>{{ missingDependenciesMessage() }}</p>
        <div class="action-btn">
          <app-button 
            label="Entendi" 
            variant="primary" 
            (btnClick)="close.emit()">
          </app-button>
        </div>
      </div>
    } 
    @else {
      <form
        [formGroup]="entityForm"
        (ngSubmit)="onSubmit()"
        class="modal-content"
      >
        @if (type() !== "Usuários") {
          <div class="image-upload-section">
            <div
              class="preview-box"
              [class.empty]="!imagePreview"
              [class.error-border]="submitAttempted && !isImageValid"
            >
              @if (imagePreview) {
                <img [src]="imagePreview" alt="Preview da Imagem" />
              } @else {
                <i class="fa-solid fa-cloud-arrow-up"></i>
              }
            </div>
            <label for="image-input" class="upload-label">
              {{ imagePreview ? "Alterar Imagem" : "Selecionar Imagem" }}
              <input
                type="file"
                id="image-input"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
            </label>

            @if (submitAttempted && !isImageValid) {
              <small class="error-msg">A imagem é obrigatória para o cadastro.</small>
            }
          </div>
        }

        <div class="fields-grid">
          @if (type() !== 'Banners') {
            <app-input
              label="Nome"
              id="name"
              formControlName="name"
              [required]="true"
              placeholder="Digite o nome completo"
            />
          } @else {
            <app-input
              label="Título do Banner"
              id="title"
              formControlName="title"
              [required]="true"
              placeholder="Promoção de Inverno"
            />
          }

          @switch (type()) {
            @case ("Produtos") {
              <app-input
                label="Descrição"
                id="description"
                formControlName="description"
                placeholder="Descreva as propriedades do produto"
              />
              <app-select
                label="Categoria"
                id="category"
                formControlName="categoryName"
                [options]="categoryNames()"
              />
              <app-select
                label="Fornecedor"
                id="supplier"
                formControlName="supplierName"
                [options]="supplierNames()"
              />
              <app-input
                label="Sabores (Separados por vírgula)"
                id="flavours"
                formControlName="flavours"
                placeholder="Ex: Chocolate, Morango"
              />
            }
            @case ("Usuários") {
              <app-input
                label="Email"
                id="email"
                formControlName="email"
                type="email"
                placeholder="email@fitoherb.com"
              />
              <app-select
                label="Nível de Acesso"
                id="role"
                formControlName="role"
                [options]="roleOptions"
              />
              <app-input
                label="Data de Nascimento (dd-mm-aaaa)"
                id="birthDate"
                formControlName="birthDate"
                placeholder="Ex: 25-10-1995"
              />
            }
            @case ("Fornecedores") {
              <div class="checkbox-group">
                <input
                  type="checkbox"
                  id="isHighlighted"
                  formControlName="isHighlighted"
                />
                <label for="isHighlighted">Fornecedor em Destaque?</label>
              </div>
            }
            @case ("Banners") {
              <app-input
                label="Posição (Ordem)"
                id="position"
                formControlName="position"
                type="number"
              />
              <div class="checkbox-group">
                <input
                  type="checkbox"
                  id="isActive"
                  formControlName="isActive"
                />
                <label for="isActive">Banner Ativo?</label>
              </div>
            }
          }
        </div>

        <footer class="modal-footer">
          <app-button
            label="Cancelar"
            variant="outline"
            type="button"
            (btnClick)="close.emit()"
          />
          <app-button
            [label]="mode() === 'create' ? 'Cadastrar' : 'Salvar Alterações'"
            variant="primary"
            type="submit"
            [disabled]="entityForm.invalid || !isImageValid"
          />
        </footer>
      </form>
    }
  </div>
</div>