@use "../../../styles.scss";

.toast-container {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: styles.$white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem;
  z-index: 9999;
  animation: slideInDown 0.3s ease-out forwards, fadeOut 0.3s ease-in 3.7s forwards;
  border-left: 5px solid styles.$green-500;

  .toast-icon {
    font-size: 1.5rem;
    color: styles.$green-500;
  }

  .toast-content p {
    margin: 0;
    color: styles.$gray-900;
    font-weight: 500;
    font-size: 1rem;
  }
}

@keyframes slideInDown {
  from {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}
