@use "../../../styles.scss";

:host {
  display: flex;
  background-color: styles.$primary-color;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: styles.$white;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 60%;
  max-height: 95%;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;

  img {
    width: 300px;
    height: auto;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: styles.$gray-900;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
    }

    .remember-me-container {
      display: flex;
      align-items: center;
      margin-top: -1rem;

      .remember-me-label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        font-size: 0.9rem;
        color: styles.$gray-700;

        input[type="checkbox"] {
          accent-color: styles.$primary-color;
          width: 1rem;
          height: 1rem;
          cursor: pointer;
        }
      }
    }

    .footer-links {
      text-align: center;


      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: styles.$primary-color;
        font-weight: 500;
      }
    }
  }
}
