<nav>
  <button class="hamburger" (click)="toggleMenu()" aria-label="Abrir menu">
    <i class="fa-solid fa-bars"></i>
  </button>

  <img
    src="/assets/images/fitoherb-logo.png"
    alt="Logo da Fitoherb"
    class="logo top-logo"
    aria-label="Logo da Fitoherb"
    draggable="false"
    routerLink="/"
  />

  @if (isMenuOpen) {
    <div class="backdrop" (click)="closeMenu()"></div>
  }

  <div class="menu-container" [class.open]="isMenuOpen">

    <div class="sidebar-header">
      <img
        src="/assets/images/fitoherb-logo.png"
        alt="Logo da Fitoherb"
        class="logo"
        draggable="false"
        routerLink="/"
        (click)="closeMenu()"
      />
      <button class="close-btn" (click)="closeMenu()" aria-label="Fechar menu">
        <i class="fa-solid fa-times"></i>
      </button>
    </div>

    <ul>
      <li><a routerLink="/" draggable="false" (click)="closeMenu()">Home</a></li>
      <li><a routerLink="/quem-somos" draggable="false" (click)="closeMenu()">Quem Somos</a></li>
      <li><a routerLink="/produtos" draggable="false" (click)="closeMenu()">Produtos</a></li>
      <li><a routerLink="/fornecedores" draggable="false" (click)="closeMenu()">Fornecedores</a></li>
      <li><a routerLink="/contato" draggable="false" (click)="closeMenu()">Fale Conosco</a></li>
    </ul>

    <button class="admin-btn" routerLink="/login" (click)="closeMenu()">
      <i class="fa-solid fa-user-lock"></i>
      <p>Admin</p>
    </button>
  </div>
</nav>
