<button
  class="product-card"
  [class.has-flavours]="product().flavours && product().flavours.length > 0"
  (click)="onCardClick()"
  >
  <div class="image-container">
    @if (isNew()) {
      <span class="badge new">Novo</span>
    } @else if (product().supplier.isHighlighted) {
      <span class="badge highlight">Destaque</span>
    }

    @if (formattedImageUrl()) {
      <img
        [src]="formattedImageUrl()"
        [alt]="product().name"
        draggable="false"
      />
    }
  </div>

  <div class="content">
    <span class="category-label">{{ product().category.name }}</span>
    <h3>{{ product().name }}</h3>

    @if (product().flavours && product().flavours.length > 0) {
      <p class="flavours-text">
        <strong>Sabores:</strong> {{ product().flavours.join(", ") }}.
      </p>
    }
    <p class="description">{{ formattedDescription() }}</p>
  </div>
</button>
