$primary-color: #38582f;
$dark-green: #0f140f;
$forest-mid: #243620;
$forest-light: #3e5a39;
$white: #fff;

$bg-green-base: #f4f9f1;
$bg-green-glow: #e3f0d8;
$bg-green-darker: #d0e6c1;

$footer-separator: rgba(255, 255, 255, 0.1);
