<div class="nav-container">
  <img
    src="/assets/images/fitoherb-logo-white.png"
    alt="Fitoherb Logo"
    class="logo"
  />
  <ul class="list-container">
    <li>
      <a href="/admin/users"><i class="fas fa-users"></i>Users</a>
    </li>
    <li>
      <a href="/admin/products"><i class="fas fa-box"></i>Products</a>
    </li>
    <li>
      <a href="/admin/product-categories"
        ><i class="fas fa-tags"></i>Product Categories</a
      >
    </li>
    <li>
      <a href="/admin/suppliers"><i class="fas fa-truck"></i>Suppliers</a>
    </li>
  </ul>
</div>

<div class="logout-box">
  <button (click)="logout()">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>Voltar ao site
  </button>
</div>
